<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-info">
          <img
            src="assets/img/LOGO.png"
            alt="Duro Pisos S.R.L. Logo Footer"
            style="height: 35px; margin-bottom: 10px"
          />
          <p>
            Soluciones innovadoras.<br />
            Calidad y compromiso en cada proyecto.<br /><br />
          </p>
        </div>
        <div class="col-lg-4 col-md-6 footer-contact-center">
          <h4>UBICACIÓN</h4>
          <div class="map-container mb-3">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.884109789396!2d-58.55836272337775!3d-34.63152635905016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7d6e67909c9%3A0x633516369dd4437a!2sReconquista%20837%2C%20B1702%20Ciudadela%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1717978250284!5m2!1ses-419!2sar"
              width="100%"
              height="150"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              title="Ubicación de Reconquista 837, Ciudadela en Google Maps"
            ></iframe>
          </div>
          <p
            class="text-center d-flex align-items-center justify-content-center flex-wrap"
          >
            Dirección
            <strong id="businessAddress">
              Reconquista 837 Ciudadela, Provincia de Buenos Aires</strong
            >
            <a
              href="#"
              class="copy-button ms-2"
              data-copy-target="businessAddress"
              aria-label="Copiar dirección"
            >
              <i class="bi bi-clipboard"></i>
            </a>
            <a
              href="https://maps.app.goo.gl/TU_LINK_DIRECCION_Maps"
              target="_blank"
              rel="noopener noreferrer"
              class="ms-2 external-link-icon"
              aria-label="Ver en Google Maps"
            >
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </p>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h4>CONTACTO</h4>
          <ul>
            <li>
              <div class="contact-item d-flex align-items-center">
                <a href="mailto:duropisos@hotmail.com">
                  <i class="bi bi-envelope"></i> duropisos@hotmail.com
                </a>
                <div class="action-icons ms-auto">
                  <a
                    href="#"
                    class="copy-button"
                    data-copy-target="emailAddress"
                    aria-label="Copiar correo"
                  >
                    <i class="bi bi-clipboard"></i>
                  </a>
                  <a
                    href="mailto:duropisos@hotmail.com"
                    class="action-icon"
                    aria-label="Enviar correo"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
              </div>
              <span id="emailAddress" class="d-none"
                >duropisos@hotmail.com</span
              >
            </li>
            <li>
              <div class="contact-item d-flex align-items-center">
                <a
                  href="https://wa.me/5491138938699"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="bi bi-whatsapp"></i> +54 11 3893 8699
                </a>
              </div>
            </li>
            <li>
              <div class="contact-item d-flex align-items-center">
                <a
                  href="https://www.instagram.com/duropisos?igsh=ZXpzbXQyNXNpNWQ="
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="bi bi-instagram"></i> Instagram
                </a>
              </div>
            </li>
            <!-- DIRECTOR DE OBRA - GUSTAVO BALDIVIA -->
            <br />
            <h4>DIRECTOR DE OBRA - Gustavo Baldivia</h4>
            <li>
              <div class="contact-item d-flex align-items-center">
                <a
                  href="https://wa.me/5491161630213"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="bi bi-whatsapp"></i> +54 11 6163 0213
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DURO PISOS S.R.L</span></strong
        >. Todos los derechos reservados.
      </div>
      <div class="credits">
        <a href="https://portafolio-rodrigo-rabanal.vercel.app/"
          >Desarrollador de software: Rodrigo Rabanal</a
        >
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
